
body{
    background-color: rgb(245, 234, 184)!important;
}

p{
    color: rgb(13, 13, 14);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.jhonnie-logo{
    justify-items: auto;
    height: 280px; 
}

.grid-container{
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(2, 320px);
    row-gap: 15px;
    column-gap: 15px;
}

.item01 h2{
    margin-top: 15px;
    color:gold;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.item01 p{
    margin-bottom: 50px;
    color:gold;
    font-family: Arial, Helvetica, sans-serif;   
}

.item01{
    border-radius: 7px;
    background-color:black;
    grid-row: 1/4;
    grid-column: 1/2;
    padding: 15px;
}
.item01 .container-img img{
    width: 100%;
    border-radius: 7px;
}
.item02{
    background-color:black;
    border-radius: 7px;
    padding: 20px;   
}

.item02 p{
    width: 80%;
    margin-top: 1px;
    margin-bottom: 50px;
    color:gold;
    font-family: Arial, Helvetica, sans-serif;
}
.item02 img{
border-radius: 7px;
width: 80%;
position: relatie;
left: 200px;
bottom: 250px;
max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
}
.item03{
    background-color:black;
    border-radius: 7px;
    padding: 20px;
}
.item03 p{
    color: gold;
    width: 40%;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.item03 img{
border-radius: 7px;
width: 52%;
position: relative;
left: 265px;
bottom: 280px;
}
.imagen-red{
    width: 60%;
    margin-left: 220px;
    align-items: center;
    display: flex;
    border-radius: 50px;
    padding-bottom: 20px;
    max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
}
.imagen-black{
    width: 60%;
    margin-left: 220px;
    align-items: center;
    display: flex;
    border-radius: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
}
.imagen-gold{
    width: 60%;
    margin-left: 220px;
    align-items: center;
    display: flex;
    border-radius: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
}
.imagen-blue{
    width: 60%;
    margin-left: 220px;
    align-items: center;
    display: flex;
    border-radius: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
}

h1{
 background-color: rgb(255, 236, 127);
 font-family: 'Times New Roman', Times, serif;
 font-size: 75px !important;
 text-align: center;
 padding: 30px;
 margin: 0;
}
.slogan{
    text-align: center !important;
    font-size: 52px;
    font-style: oblique;
    background-color: rgb(255, 236, 127);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    
}
h2{
    font-size: 22px;
    font-style: oblique;
    margin-top: 70px;
    margin-bottom: 100px;
}

h3{font-size: 22px;
font-style: initial;}
h4{
    font-style: oblique;
    font-size: xx-small;
    margin-top: 90px;
}

.texto-red{
    text-align: center;
    font-style: oblique;
}
.texto-black{
    text-align: center;
    font-style: oblique;
}
.texto-gold{
    text-align: center;
    font-style: oblique;
}
.texto-blue{
    text-align: center;
    font-style: oblique;
}
.color-redlabel{
    background-color: rgba(238, 10, 10, 0.555);
    font-size: 40px;
    border-radius: 30px;
}
.color-blacklabel{background-color: black;
color: azure;
font-size: 40px;
border-radius: 30px;
}

.color-goldlabel{background-color: gold;
    font-size: 40px;
    border-radius: 30px;

}
.color-bluelabel{background-color: blue;
    font-size: 40px;
    border-radius: 30px;
}
.botellas{
    width: 950px;
    margin-left: 150px;
    border-radius: 12px;
    max-width: 100%;
            height: auto;
            display: block;
            margin: auto;   
}
.pagina-oficial{
    text-align: center;
    display: block;
}
.bg-jhonnie{
    background-color:  rgba(231, 207, 98, 0.349);
}
header nav ul li a{
    margin: 20px    
}
.nav-item{
    font-size: larger;
}
.nav-item:hover{
    margin-left: 10px;
    margin-right: 10px;
    transition: 1s;
    
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 900px) {
    h1 {
        font-size: 20px;
    }

    .slogan {
        font-size: 30px;
        
    }

}


