.imagen-red{
    width: 60%;
    align-items: center;
    display: flex;
    border-radius: 20px;
    padding-bottom: 30px;
    max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
        }
        .color-redlabel{
            background-color: rgba(109, 8, 8, 0.836);
            font-size: 70px;
            border-radius: 10px;
            text-align: center;
            padding: 50px;
            padding: 50px;
            font-family: 'Times New Roman', Times, serif;
            margin-bottom: 50px;
        }
        .texto-red{
            text-align: center;
            font-style: oblique;
            font-size: larger;
            margin-top: 50px;
        }

                
        