header{background-color:  rgb(245, 234, 184);
    nav{
        ul{
            li{
                
                a{
                    margin: 15px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: x-large;

                }
            }
        }
    }
    
}
.nav-item{
    font-size: medium;
}
.nav-item:hover{
    margin-left: 10px;
    margin-right: 10px;
    transition: 1s;
}