
main{
    .titulo-oficial{
    background-image: linear-gradient(to right, rgb(255, 236, 127),rgba(80, 66, 2, 0.466));
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px !important;
    text-align: center;
    padding: 30px;
    margin: 0;
}
   
   .slogan{
        text-align: center !important;
        font-size: 50px;
        font-style: oblique;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 100px;
    }
    h2{
        font-size: 22px;
        font-style: oblique;
        margin-top: 70px;
        margin-bottom: 100px;
    }

}
   
       
      

  